html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #050510;
  color: #ffffff;
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
